<!--..............INICIO EJEMPLO 1........................-->

<!--Ejemplo del NgOnChanges con un Input()-->

<p>{{ nombre }}</p>

<input type="text"
        placeholder="Hola Mundo"
        [(ngModel)]="nombre">

<button (click)="guardar()">
  Click
</button>

<br><br>


<app-muestra-nombre [nombre]="nombre"></app-muestra-nombre>


<!--...........FIN EJEMPLO 1...........................-->




<!--............INICIO EJEMPLO 2..........................-->
<!--Otro ejemplo con NgDestroy-->
<!--<h1>Segundos: {{ 0 }}</h1>-->




<!--...........FIN EJEMPLO 2...........................-->
